

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">kyc</ion-title>
    </ion-toolbar>
  </ion-header>
<h1>huh</h1>


<form [formGroup]="kycForm">
  <ion-item>
    <ion-label position="floating">KYC Proof </ion-label>
    <ion-input formControlName="kycproof" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">KYC Number </ion-label>
    <ion-input formControlName="kycnumber" type="text"></ion-input>
  </ion-item>


</form>



</ion-content>
