<form [formGroup]="permentAddressForm" class="responsive-form">


  <div class="form-row"> 
    <label>Address:
      <input type="text" formControlName="street" />
    </label>
  </div>

  <div class="form-row"> 
    <label>Street:
      <input type="text" formControlName="street" />
    </label>
  </div>

  <div class="form-row">
    <label>City:
      <input type="text" formControlName="city" />
    </label>
  </div>

  <div class="form-row">
    <label>State:
      <input type="text" formControlName="state" />
    </label>
  </div>

  <div class="form-row">
    <label>Zip Code:
      <input type="text" formControlName="zip" />
    </label>
  </div>

  <button type="submit">Save</button>
</form>
