<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Existing Leads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Existing Leads</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-chip>
          <div>
          <ion-avatar >
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </div>
      <div class="profile">
          <ion-label><h2>Gayathri B</h2></ion-label>
          <ion-label><h2>89023456778</h2></ion-label>
        </div>
      <div>
          <div class="circle-progress">
            <div class="progress"></div>
          </div>
        </div>

        </ion-chip>
       

    </ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
   <div class="eachIcons">
    <div>
    <i style='font-size:15px' class='fas'>&#xf879;</i>
    <h3>894512370</h3>
  </div>
   <div> 
    <i style='font-size:15px' class='fas'>&#xf3c5;</i>
    <h3>Chennai</h3>
  </div>
   <div>
    <i style='font-size:15px' class='fas'>&#xf156;</i>
    <h3>50,00000</h3>
  </div>

  </div>
  

  </ion-card-content>
  <ion-accordion-group >
    <ion-accordion value="first"  toggleIcon="ellipsis-horizontal">
      <ion-item slot="header" color="light">
        <ion-label>More</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        
     <div ><ion-icon name="eye"></ion-icon></div>
     <div ><ion-icon name="create-outline"></ion-icon></div>
     <div ><ion-icon name="documents-outline"></ion-icon></div>
     <div ><ion-icon name="cloud-upload-outline"></ion-icon></div>      
    </div>
    
    </ion-accordion>
    
  </ion-accordion-group>
 
  </ion-card>
</ion-content>
