ion-card{
    max-width: 35%; 
    border-radius: 20px;
    // background-color:#6fabe9;
    color: #000;
    background: linear-gradient(to right, #58c3e7, #3481d7);


}
ion-chip{
display: flex;
flex-direction: row;
justify-content: center;
// align-items: center;
// text-align: center;
padding-top: 0%;
justify-content: space-between;


}
ion-chip > div{
    display: flex;
    flex-direction: column;
}

ion-avatar{
   display: flex;
   position: relative;
   margin-right: 30%;
   align-items: center;
   justify-content: center;
   align-items: center;   

}
.profile{
    position: relative;
    right: 20%;
  
}
.fas{
    position: relative;
    left: 20%;

}

.fas:hover{
    cursor: pointer;
    color: #a21e1e;
   
}
.icon1{
    width: 20px;
    height: 20px;
}
.eachIcons{
    display: flex;
    justify-content:space-between;
    position: relative;
    left: 10px;
}

img{
    
     width:50px;
     height:50px;
     position: relative;
     right: 20px;
}


ion-chip{
    background-color: rgba(240, 255, 255, 0);
}
.ion-padding{
    background: linear-gradient(to right,#3d6a9d82, #58c3e79b);

}

.ion-padding{
    display: flex;
    justify-content: space-between;
}


.circle-progress {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: conic-gradient(#078d0ef8 0% 60%, #e0e0e0 0% 60%);
    position: relative;
  }
  
  .progress {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
  }

 ion-label,h2{
 font-weight: bold;
 color: #000;
}
.ion-padding > div{
    
    color: rgb(36, 36, 138);
    cursor: pointer;


}