<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Existing Leads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Existing Leads</ion-title>
    </ion-toolbar>

  </ion-header>

  <div class="totalapplication">
      <ion-label>Total Applications</ion-label>
      <ion-badge color="danger">{{cardObj.length}}</ion-badge>
  </div>

  <div class="focusSearch">
    <ion-searchbar show-clear-button="focus"></ion-searchbar>
  </div>

<!-- 
  <ion-alert 
  [isOpen]="isAlertOpen"
  header= "View User Details"
  hedding="Name : "
  message={{(storeData)}}
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>

 -->


  <ion-card *ngFor="let val of cardObj"  (click)="showpop(val)" >
    <div>
    <ion-card-header >
      <ion-card-subtitle>
        <ion-chip>
          <div>
          <ion-avatar >
            <img alt="Silhouette of a person's head" src="../../assets/img/per1.png" />
          </ion-avatar>
        </div>
      <div class="profile">
          <ion-label><h2>{{val?.name}}</h2></ion-label>
          <ion-label><h2>{{val?.dob}}</h2></ion-label>
        </div>
      <div>
          <div class="circle-progress">
            <div class="progress"></div>
          </div>
          <div class="progressCount">50%</div>
        </div>

        </ion-chip>
       

    </ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
   <div class="eachIcons">
    <div>
    <i style='font-size:15px' class='fas'>&#xf879;</i>
    <h3>{{val?.age}}</h3>
  </div>
   <div> 
    <i style='font-size:15px' class='fas'>&#xf3c5;</i>
    <h3>{{val?.gender}}</h3>
  </div>
   <div>
    <i style='font-size:15px' class='fas'>&#xf156;</i>
    <h3>{{50000}}</h3>
  </div>

  </div>
  

  </ion-card-content>

</div>


  <ion-accordion-group>
    <ion-accordion value="first"  toggleIcon="ellipsis-horizontal">
      <ion-item slot="header" color="light">
        <ion-label>More</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
     <div>
     <div class="padding-icons" style="font-size: x-large;"><ion-icon name="eye"></ion-icon></div>
     <div class="padding-subtext"><p style="font-size:x-small;">View Application<p></p></div>
    </div>

    <div>
     <div class="padding-icons" style="font-size: x-large;" ><ion-icon name="create-outline"></ion-icon></div>
     <div class="padding-subtext"><p style="font-size: x-small;">Nominee Details<p></p></div> 
    </div>
    <div>
     <div class="padding-icons" style="font-size: x-large;"><ion-icon name="documents-outline"></ion-icon></div>
     <div class="padding-subtext" ><p style="font-size: x-small;">Document upload<p></div> 
    </div>
  <div>
     <div class="padding-icons" style="font-size: x-large;"><ion-icon name="cloud-upload-outline"></ion-icon></div> 
    <div class="padding-subtext" ><p style="font-size: x-small;">Submit<p></div> 
    </div>
       
    </div>
    
    </ion-accordion>
    
  </ion-accordion-group>
 
  </ion-card>

 <div>
  <h1 *ngIf="cardObj.length ==0">No Reacord Found</h1>
 </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
