.card-group{
    display: list-item;
}
ion-card{
    max-width: 30%;
    background-color: azure;
    color: black;
    font-size: larger;
    font-family:sans-serif;
};
h1,h2,h3{
    font-weight: bold
}
.cardRow > div{
    display:flex;
    flex-direction: column;

}