<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

<div class="card-group">

  <!-- First card  -->
  <ion-card (click)="routeCard(detail)" *ngFor="let detail of data">   
    

    <ion-card-content>
    
    <ion-grid>
            <ion-row>
              <ion-avatar>
                <img alt="phone" style="color:black;" src="../../assets/img/phone.png"/>
              </ion-avatar> <ion-col ><h3>{{detail.kycproof}}</h3></ion-col>
            
             <ion-avatar>
              <img alt="phone" src="../../assets/img/phone.png"/>
             </ion-avatar>
              <ion-col> <h3>{{detail.kycnumber}}</h3></ion-col>
            </ion-row>
       
    </ion-grid>
    
    </ion-card-content>
  </ion-card>
  


  
  




  

</div>











</ion-content>
